USE [master]
GO
/****** Object:  Database [TestSql]    Script Date: 14.06.2026 15:18:47 ******/
CREATE DATABASE [TestSql]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestSql', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TestSql.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestSql_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TestSql_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestSql].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestSql]
GO
/****** Object:  Table [dbo].[Musteriler]    Script Date: 14.06.2026 15:18:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteriler](
	[MusteriID] [int] IDENTITY(1,1) NOT NULL,
	[MusteriAdSoyad] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Adresi] [nvarchar](200) NULL,
	[Durum] [bit] NULL,
	[Cinsiyet] [char](1) NULL,
	[VergiNo] [char](8) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MusteriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Urunler]    Script Date: 14.06.2026 15:18:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urunler](
	[UrunID] [int] IDENTITY(1,1) NOT NULL,
	[UrunAd] [nvarchar](100) NOT NULL,
	[Fiyati] [money] NOT NULL,
	[Kayit_Tarihi] [smalldatetime] NULL,
	[Kategori] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Musteriler] ON 

INSERT [dbo].[Musteriler] ([MusteriID], [MusteriAdSoyad], [Email], [Adresi], [Durum], [Cinsiyet], [VergiNo]) VALUES (1, N'Ali Ak', N'ali@abc.com', NULL, 1, N'E', N'111     ')
INSERT [dbo].[Musteriler] ([MusteriID], [MusteriAdSoyad], [Email], [Adresi], [Durum], [Cinsiyet], [VergiNo]) VALUES (2, N'Ayşe Kara', N'ayse@xyz.com', NULL, NULL, NULL, N'222     ')
SET IDENTITY_INSERT [dbo].[Musteriler] OFF
SET IDENTITY_INSERT [dbo].[Urunler] ON 

INSERT [dbo].[Urunler] ([UrunID], [UrunAd], [Fiyati], [Kayit_Tarihi], [Kategori]) VALUES (1, N'Samsung S26 Ultra 512', 120000.0000, CAST(N'2026-05-23T19:25:00' AS SmallDateTime), N'Telefon')
INSERT [dbo].[Urunler] ([UrunID], [UrunAd], [Fiyati], [Kayit_Tarihi], [Kategori]) VALUES (2, N'Samsung S25 Ultra 256', 100000.0000, CAST(N'2026-05-23T00:00:00' AS SmallDateTime), N'Telefon')
INSERT [dbo].[Urunler] ([UrunID], [UrunAd], [Fiyati], [Kayit_Tarihi], [Kategori]) VALUES (3, N'Apple Iphone 17 Pro Max', 135000.0000, CAST(N'2026-05-23T00:00:00' AS SmallDateTime), N'Telefon')
SET IDENTITY_INSERT [dbo].[Urunler] OFF
USE [master]
GO
