USE [master]
GO
/****** Object:  Database [Test]    Script Date: 14.06.2026 15:17:37 ******/
CREATE DATABASE [Test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Test', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Test.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Test_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Test_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Test]
GO
/****** Object:  Table [dbo].[Musteriler]    Script Date: 14.06.2026 15:17:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteriler](
	[MusteriID] [int] IDENTITY(1,1) NOT NULL,
	[MusteriAdSoyad] [nvarchar](max) NOT NULL,
	[Firma] [nvarchar](100) NULL,
	[Telefon] [varchar](15) NULL,
	[Adres] [nvarchar](200) NULL,
	[Email] [varchar](100) NULL,
 CONSTRAINT [PK_Musteriler] PRIMARY KEY CLUSTERED 
(
	[MusteriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Satinalmalar]    Script Date: 14.06.2026 15:17:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Satinalmalar](
	[SatinalmaID] [int] IDENTITY(1,1) NOT NULL,
	[Tarih] [smalldatetime] NOT NULL,
	[Satici] [nvarchar](50) NULL,
	[Urun] [nvarchar](max) NOT NULL,
	[Miktar] [decimal](10, 2) NOT NULL,
	[BirimFiyat] [money] NOT NULL,
	[KDVOran] [decimal](3, 2) NULL,
	[OdemeDurumu] [nvarchar](50) NULL,
 CONSTRAINT [PK_Satinalmalar] PRIMARY KEY CLUSTERED 
(
	[SatinalmaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Musteriler] ON 

INSERT [dbo].[Musteriler] ([MusteriID], [MusteriAdSoyad], [Firma], [Telefon], [Adres], [Email]) VALUES (1, N'Ahmet Kılıç', N'Kılıç İnşaat', N'545464664', N'sl fjlsjfldjfljlf s Şirinevler', N'kilic@kilic.com')
SET IDENTITY_INSERT [dbo].[Musteriler] OFF
SET IDENTITY_INSERT [dbo].[Satinalmalar] ON 

INSERT [dbo].[Satinalmalar] ([SatinalmaID], [Tarih], [Satici], [Urun], [Miktar], [BirimFiyat], [KDVOran], [OdemeDurumu]) VALUES (1, CAST(N'2026-05-17T17:23:00' AS SmallDateTime), NULL, N'Pembe Domates', CAST(120.00 AS Decimal(10, 2)), 75.0000, CAST(0.20 AS Decimal(3, 2)), N'Peşin Ödendi')
INSERT [dbo].[Satinalmalar] ([SatinalmaID], [Tarih], [Satici], [Urun], [Miktar], [BirimFiyat], [KDVOran], [OdemeDurumu]) VALUES (2, CAST(N'2026-05-17T00:00:00' AS SmallDateTime), N'Ali', N'Çarliston Biber', CAST(100.00 AS Decimal(10, 2)), 15.0000, CAST(0.20 AS Decimal(3, 2)), N'Peşin')
INSERT [dbo].[Satinalmalar] ([SatinalmaID], [Tarih], [Satici], [Urun], [Miktar], [BirimFiyat], [KDVOran], [OdemeDurumu]) VALUES (3, CAST(N'2026-05-17T00:00:00' AS SmallDateTime), NULL, N'Salatalık', CAST(80.00 AS Decimal(10, 2)), 50.0000, CAST(0.01 AS Decimal(3, 2)), N'Ödenmedi')
SET IDENTITY_INSERT [dbo].[Satinalmalar] OFF
USE [master]
GO
